<launch>

  <node pkg = "rospkg-ogameasure"
        name = "11713B"
        type = "11713B.py"
        required="true"
        output="screen">
        <param name="~host" value="192.168.100.186" />
        <param name="~gpibport" value="10" />

    <remap from = '/dev/87104b/__IP__/open/ch_cmd' to = '/dev/87104b/ip_192_168_100_186/open/ch_cmd'/>
    <remap from = '/dev/87104b/__IP__/close/ch_cmd' to = '/dev/87104b/ip_192_168_100_186/close/ch_cmd'/>
    <remap from = '/dev/87104b/__IP__/all_open/ch_cmd' to = '/dev/87104b/ip_192_168_100_186/all_open/ch_cmd'/>
    <remap from = '/dev/87104b/__IP__/all_close/ch_cmd' to = '/dev/87104b/ip_192_168_100_186/all_open/all_close/ch_cmd'/>

  </node>


</launch>
