<launch>

  <node pkg = "rospkg-ogamesure"
        name = "e8247c"
        type = "e8247c.py">
        <param name="~host" value="" />
        <param name="~port" value="" />
    <remap from = '/dev/e8247c/__IP__/freq_cmd' to = ''/>
    <remap from = '/dev/e8247c/__IP__/power_cmd' to = ''/>
    <remap from = '/dev/e8247c/__IP__/onoff_cmd' to = ''/>
    <remap from = '/dev/e8247c/__IP__/freq' to = ''/>
    <remap from = '/dev/e8247c/__IP__/power' to = ''/>
    <remap from = '/dev/e8247c/__IP__/onoff' to = ''/>

  </node>

</launch>
