<launch>

  <node pkg = "rospkg-ogameasure"
        name = "gpdvc15"
        type = "GPDVC15.py">
        <param name="~host" value="192.168.100.44" />
        <param name="~gpibport" value="[4,5]" />
        <param name="~node" value="gpdvc15" />

    <remap from = '/dev/gpdvc15_100rs/__IP__/port_4/i_cmd' to = '/dev/gpdvc15_100rs/ip_192_168_100_44/port_4/i_cmd'/>
    <remap from = '/dev/gpdvc15_100rs/__IP__/port_5/i_cmd' to = '/dev/gpdvc15_100rs/ip_192_168_100_44/port_5/i_cmd'/>


  </node>

</launch>
