<launch>

  <node pkg = "rospkg-ogamesure"
        name = "GPDVC15"
        type = "GPDVC15.py">
        <param name="~host" value="" />
        <param name="~gpibport" value="" />
        <param name="~node" value="" />

    <remap from = '/dev/gpdvc15_100rs/__IP__/' to = ''/>

  </node>

</launch>
