<launch>

  <node pkg = "rospkg-ogameasure"
        name = "ma24126a"
        type = "ma24126a.py"
        output = "screen">
        <param name="~port_list" value="['/dev/ttyACM0','/dev/ttyACM0']" />

        <param name="~ch_num" value="2" />


    <remap from = '/dev/ma24126a/__port__/ch1' to = '/dev/ma24126a/ttyACM0/ch1'/>
    <remap from = '/dev/ma24126a/__port__/ch2' to = '/dev/ma24126a/ttyACM1/ch2'/>



  </node>

</launch>
