<launch>

  <node pkg = "rospkg-ogameasure"
        name = "ma24126a"
        type = "ma24126a.py">

        <param name="~port_list" value="['/dev/ttyACM1']" />

        <param name="~ch_num" value="1" />


    <remap from = '/dev/ma24126a/__port__/ch1' to = '/dev/ma24126a/ttyACM1/ch1'/>



  </node>

</launch>
