<launch>

  <node pkg = "rospkg-ogameasure"
        name = "ma24126a"
        type = "ma24126a.py">

        <param name="~port_list" value="['/dev/ttyACM0','/dev/ttyACM1']" />

        <param name="~ch_num" value="2" />

    <remap from = '/dev/ma24126a/__port__/power/1' to = '/dev/ma24126a/ttyACM0/power'/>
    <remap from = '/dev/ma24126a/__port__/power/2' to = '/dev/ma24126a/ttyACM1/power'/>
    <remap from = '/dev/ma24126a/__port__/zero_set/1' to = '/dev/ma24126a/ttyACM0/zero_set'/>
    <remap from = '/dev/ma24126a/__port__/zero_set/2' to = '/dev/ma24126a/ttyACM1/zero_set'/>

  </node>

</launch>
