<launch>

  <node pkg = "rospkg-ogameasure"
        name = "ml2437a"
        type = "ml2437a.py">
        <param name="~host" value="192.168.100.44" />
        <param name="~gpibport" value="13" />
        <param name="~node_name" value="ml2438a" />
        <param name="~ch" value="1" />
        <param name="~ave_num" value="60" />
        <param name="~ave_onoff" value="0" />

    <remap from = '/dev/ml2437a/__IP__/ch1' to = '/dev/ml2437a/192_168_100_44/ch1'/>
    <remap from = '/dev/ml2437a/__IP__/ch2' to = '/dev/ml2437a/192_168_100_44/ch2'/>


  </node>

</launch>
