<launch>

<node pkg = "rospkg-ogameasure"
      name = "tr_73u"
      type = "tr_73u.py">

      <param name="~ondotori_usbport" value="/dev/ttyUSB0" />


  <remap from = '/dev/ND287/__port__/temperature' to = '/dev/ND287/ttyUSB0/temperature'/>
  <remap from = '/dev/ND287/__port__/humidity' to = '/dev/ND287/ttyUSB0/humidity'/>
  <remap from = '/dev/ND287/__port__/pressure' to = '/dev/ND287/ttyUSB0/pressure'/>


</node>

</launch>
